@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

$font-family-base: "Lato", sans-serif;
$theme-colors: (
  "primary": #000,
  "secondary": #1b1b1b,
  "light": #f7b600,
  "dark": #d09f13,
);
$dark2: #bb8e11;

* {
  font-size: 12px;

  body {
    font-family: "Lato", sans-serif;
    background-color: var(--bs-light);
    color: var(--bs-primary);

    .container-fluid {
      background-color: var(--bs-light);

      .main {
        background:
          linear-gradient(0deg, #f7b50093, #f7b50093),
          url("../assets/logo.png") no-repeat center;
        background-size: 45%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 2.5rem;

        h1 {
          font: 700 5rem $font-family-base;
        }
      }

      .sub-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 47vh;
      }

      .lighter {
        background-color: var(--bs-dark);
      }

      .darker {
        background-color: $dark2;
      }
    }
  }
}

@import "~bootstrap/scss/bootstrap";
